body {
    font:12px arial;
    color: #222;
    text-align:center;
    padding:35px; 
}  
.caja{
    background-color:#E0F8E6;
    width: 600px;
    margin: auto;
}
.chat {
    color: blue;
    font-size: 15px;
}
form, p, span {
    margin:0;
    padding:0; 
}
input { font:12px arial; }
#chat {
    margin:0 auto;
    padding-bottom:25px;
    background:#CEF6D8;
    widows: 200px;
    border:1px solid #BCF5A9; 
}
#cajachat {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:431px;
    border:1px solid #BCF5A9;
    overflow:auto; 
}
#mensaje {
    width:395px;
    border:1px solid black; 
}  
#nombre {
    border:1px solid black; 
}  
#submit { width: 60px; }
#menu { padding:12.5px 25px 12.5px 25px; }